/*Importing Google fonts*/
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100&family=Open+Sans:wght@300;800&family=PT+Sans&display=swap");

/*Importing component files*/
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

/*General style rules for fonts and color*/
body {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
}
h1, h2, h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}
a {
  text-decoration: none;
}
